[Unit]
Description=DX Cluster Spot to Flex Spot API Repeater
After=network.target

[Service]
Type=simple
User=nobody
Group=dialout
ExecStart=/usr/local/scripts/spot_rpt --host=CLUSTER_HOST --port=CLUSTER_PORT --call=CALLSIGN
RuntimeDirectory=net_efpophis_spot_rpt
Restart=always

[Install]
WantedBy=default.target